numpy
pandas
matplotlib
plotly
scikit-learn
tensorflow
xgboost
joblib

paho-mqtt
kafka-python

psycopg2-binary
sqlalchemy
pymongo
neo4j

rdflib
pyld

streamlit
dash
dash-bootstrap-components

seaborn

requests

fastapi
uvicorn

python-dotenv

faker

jupyter